{% extends 'base.html.twig' %}

{% block title %}Jack-Line Produits{% endblock %}

{% block body %}
<link rel="stylesheet" href="../assets/css/style.css">

<div class="example-wrapper">
    <h1 class="titre_produits">Liste de nos produits</h1>
    <h2 class="soustitre_produits">Tous nos produits sont uniquement disponible en magasin.</h2>
    <div class="container_produits">
        <div class="produit1"><img class="img_produit" src="../assets/img/produits/1.png"></div>
        <div class="produit2"><img class="img_produit" src="../assets/img/produits/2.png"></div>
        <div class="produit3"><img class="img_produit" src="../assets/img/produits/3.png"></div>
        <div class="produit4"><img class="img_produit" src="../assets/img/produits/4.png"></div>
        <div class="produit5"><img class="img_produit" src="../assets/img/produits/5.png"></div>
        <div class="produit6"><img class="img_produit" src="../assets/img/produits/6.png"></div>
    </div>
</div>
{% endblock %}