{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <link rel="stylesheet" href="../assets/css/style.css">
    <div class="form_general">
        {{form(leFormulaire)}}
    </div>
{% endblock %}