{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="../assets/css/style.css">

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/evang/Documents/BTS/2ème Année/1 - SG/AP/GitKraken/AP1-Estheticienne/Estheticienne/src/Controller/AccueilController.php</code></li>
        <li>Your template at <code>C:/Users/evang/Documents/BTS/2ème Année/1 - SG/AP/GitKraken/AP1-Estheticienne/Estheticienne/templates/accueil/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
